<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Homework1</title>
  <link rel="shortcut icon" href="img/redface.png">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/tmpl.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
  <script type="text/template" id="resume"> 
  <div class="wrapper"> 
    <div class="case">
      <div class="cart">
        <div class="foto">
          <h1><%= data[0].name %></h1>
          <img class="picture" src="<%= data[0].img%>" alt="это я" title="время полдень">
        </div>
        <div class="center"> 
          <div class="box">
            <p><%= data[0].info%></p>
          </div>
       
          <div class="box">
            <p>Хочу учить фронтенд,потому что:</p>
            <ul>
            <% for(var i = 0; i < data[1].reasons.length; i++ ){ %>
              <li><%= data[1].reasons[i] %></li>
            <% } %>
          </ul>
          </div>
          <div class="box">
            <p>Мой контактный телефон:<br><%= data[2].tel %></p>
            <p>Мой профиль в контакте<br><a href=<%= data[2].vk %> target="blank">vk.com</a></p>
          </div>
          <div class="box1">
            <p>Мой фидбек:<br>Еслу нужно,могу построить вам забор</p>
          </div> 
        </div>
      </div>
    </div>
  </div>
  </script>   
</body>
</html> 
