.wrapper{
	width: 1000px;
    height: 450px;
    margin: 0 auto;
    border: 5px solid black;
    background: wheat;
    border-radius: 30px;
}

.header_timer{
    width: 700px;
    margin: 20px auto;
    border: 7px solid black;
    border-radius: 80px;
	background: black;
    color: white;
}

p{
    margin: 0px 40px;
	font-size: 130px;

}
.timer_buttons{
	margin: 40px 260px;
}

.start_button{
	position: absolute;
	width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 37px;
    font-weight: bold;
}

.pause_button{
	width: 150px;
    height: 150px;
    border: 5px solid red;
    border-radius: 80px;
    background: red;
    color: white;
    font-size: 37px;
    font-weight: bold;
}

.clear_button{
	float: right;
	width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 37px;
    font-weight: bold;

}